// style.scss
@charset "UTF-8";

// IMPORTANDO COMPONENTES
@import "base/variables";
@import 'base/extends';
@import 'base/media-Query';
@import 'components/carrousel';
@import 'components/footer';
@import 'components/header';
@import 'components/image';
@import 'components/products';

 


  * {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    
    font-family: 'Montserrat', sans-serif;
    background-color: gold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  h1 ,h5 {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
  }
   
  .marquee {
    color: whitesmoke;
    width: 100%;
    height: 50px;
    background-color: gold;
    overflow: hidden;
    padding: 10%;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    /* Propiedad drop-shadow corregida */
    box-shadow: 0 0 30px gold;
    /* Añade bordes a las esquinas */
  
  }
  
  .marquee p {
    font-size: 400%; /* Tamaño de fuente más grande */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    animation: marquee 10s linear infinite;
  } 
  
 
  @keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
  }
    
  /* Estilos de los elementos */
  
  .logo {
    height: 40px;
    padding-left: 20px;
   }
  
  
  
  /* EDICION FOOOOOOTEEEEER*/
  
  a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
  }
  
  
  /*foterrrrrrrrrr*/
  
  
  .footer-container {
    position: relative;
    background-image: url('/img/portada-red.png');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el fondo */
  }
  
  /*BOTONESSSSSSSSSSSSSSSSSSKDAKSKDKASKDASD*/
  


  .btn:hover {
    background-color: rgb(0, 122, 55);
    color: #ffffff;
  }
  
  .description {
    margin-top: 20px;
    color: #555;
    font-size: 14px;
    opacity: 100%;
    transition: opacity 0.3s ease;
  }
  
  .box:hover .description {
    opacity: 1;
  }
    
  /**/
  
  .box {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;
    display: inline-block; /* Agrega esta línea para establecer la posición en línea */
  }
  
  /*imagen con descripcion al costado*/
   /*imagen con descripcion al costado*/
    /*imagen con descripcion al costado*/
     /*imagen con descripcion al costado*/
      /*imagen con descripcion al costado*/


        /*imagen con descripcion al costado*/
   /*imagen con descripcion al costado*/
    /*imagen con descripcion al costado*/
     /*imagen con descripcion al costado*/
      /*imagen con descripcion al costado*/
  /*IMAGEN DE PORTADA HTML PRINCIPAL*/
  .container {
    width: 100%;
    text-align: center;
  }
  

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Color del overlay */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s; /* Transición suave */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .overlay-text {
    color: #fff; /* Color del texto */
    font-size: 14px;
    font-weight: bold;
  }
  
  .image-container:hover .overlay {
    opacity: 1; /* Hacer visible al pasar el cursor */
  }
  
  
  






h2 {
  color: whitesmoke;
  font-size: 2.5rem;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombras de texto */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombras de caja */
}

.humo{
  background-image: url(/img/image.png);
  height: 60%;
}







.small-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  color: #452c2c;
}

.small-desc {
  font-size: 1em;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2em;
  height: 2em;
  overflow: hidden;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, #000000, #000000);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.card-title {
  color: #262626;
  font-size: 1.5em;
  line-height: normal;
  font-weight: 700;
  margin-bottom: 0.5em;
}


.card {
  display: block;
  position: relative;
  max-width: 1000px;
  max-height: 200px;
  background-color: #f2f8f9;
  border-radius: 10px;
  padding: 2em 1.2em;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #c3e6ec, #a7d1d9);
  font-family: Arial, Helvetica, sans-serif;
}

.card:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background-image: repeating-linear-gradient(45deg, rgba(226, 226, 226,0.06) 0px, rgba(226, 226, 226,0.06) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.35s ease-out;
}

.card:hover:before {
  transform: scale(28);
}

.card:hover .small-desc {
  transition: all 0.5s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card:hover .card-title {
  transition: all 0.5s ease-out;
  color: #ffffff;
}








.Txt-movimiento{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}








.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 100%;
  height: 100%;
}

.text {
  text-align: center;
}

.text p {
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.social-media img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

