
/*Extend del componente button*/

.btn {
  // Estilos comunes para todos los botones
  border: 2px solid transparent; // Añadimos un borde transparente
  transition: border-color 0.3s; // Añadimos una transición para el cambio de color del borde
}

.btn-detalles {
  @extend .btn;
  background-color: #00ff0d;
  color: #000000;
}

.btn-comprar {
  @extend .btn;
  background-color: #c00000bd;
  color: #009e3d;
}

// Estilo para el hover
.btn:hover {
  border-color: #00ff0d; // Cambiamos el color del borde al pasar el mouse
}


.box-tipo2 {
  @extend .box;
  size: 20px;
  border-radius: 20
;
}
